:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --light-color: #fff;
  --logo-text-color: #000;
  --accent: #2196f3;
  --border-bottom-color: #ececec;
  --border-projects-item-color: #eeeeee;
  --social-media-icon-color: #afb1b8;
  --our-clients-color: #afb1b8;
  /* with opacity */
  --border-input-holder: #21212133;
  --textarea-placeholder-color: #75757580;
  --footer-input-placeholder-color: #ffffff99;
}